<div class="wrapper">
  <div class="container main-container">
    <div class="col-md-12 text-end">
      <div class="boton">
      <button type="button" class="btn btn-outline-primary" (click)="logOut()">LogOut</button>
      </div>
    </div>
    <div class="chat-window" >
      <div class="row">
        <div class="col-sm-10"><h1>Chat</h1></div>
        <div><img src="https://cdn.icon-icons.com/icons2/1513/PNG/512/chat_104913.png"class="img-fluid" alt="Funny image"></div>
</div>
  <div>
  <span class="badge badge text-bg-withe">{{this.conectados}}</span>
</div>
      
      <hr>
  
      <div class="app-mensajes" id="app-mensajes" >
  
        <div *ngFor="let chat of cs.chats" [ngClass]=" {'text-end': cs.usuario.uid == chat.uid} ">
          <span class="badge badge text-bg-warning">
          {{ chat.nombre }}</span>
          <p> {{ chat.mensaje }} </p>
        </div>
  
      </div>
      <input type="mensaje" name="mensaje" placeholder="Escriba su mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()">
      </div>
        <img src="https://i.gifer.com/4Cb2.gif"
        class="img-fluid2" alt="Sample image">
    </div>
    </div>
    
